* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --mainText: #ffffff;
  --mainButton: #473bf0;
  --mainColorText: #161c2d;
  --mainPadding: 80px;
  --mainOpacityText: 70%;
  --mainTransition: 0.4s;
  --mainRadius: 10px;
  --mainBorder: 1px solid #e7e9ed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: calc(100% - 86px);
  margin-left: 48px;
  margin-right: 38px;
  top: 17px;
  z-index: 10;
}

.leftHead {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .leftHead {
    width: 100%;
    justify-content: space-between;
  }
}

.leftHead ul {
  position: relative;
  display: flex;
  gap: 30px;
  top: 3px;
}

@media (max-width: 768px) {
  .leftHead ul {
    display: none;
  }
}

.leftHead ul a {
  color: var(--mainText);
}

header button {
  width: 150px;
  height: 50px;
  border-radius: var(--mainRadius);
  background-color: var(--mainButton);
  color: var(--mainText);
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  line-height: 20.55px;
  letter-spacing: -0.5px;
}

@media (max-width: 768px) {
  header button {
    display: none;
  }
}

header .fa-bars {
  font-size: 20px;
  color: var(--mainText);
}

@media (min-width: 768px) {
  header .fa-bars {
    display: none;
  }
}

@media (max-width: 768px) {
  header .leftHead .fa-bars:hover + ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 66px;
    background-color: #161c2d;
    padding: 10px 15px;
  }
}

.landing {
  position: relative;
  background-image: url(../image/BG.png);
  background-size: cover;
  height: 676px;
  width: 100%;
  display: flex;
  align-items: center;
}

.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../image/Layer.png") no-repeat;
  background-size: cover;
}

.landing .content {
  position: relative;
  z-index: 1;
  width: 589px;
  height: 349px;
}

@media (max-width: 768px) {
  .landing .content {
    width: 350px;
  }
}

.landing .content h1 {
  width: 589px;
  height: 130px;
  color: var(--mainText);
  font-size: 60px;
  line-height: 65px;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .landing .content h1 {
    width: 350px;
    height: 110px;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
  }
}

.landing .content p {
  width: 487px;
  height: 96px;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: var(--mainText);
  opacity: var(--mainOpacityText);
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .landing .content p {
    width: 350px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.landing .content button {
  width: 218px;
  height: 59px;
  background-color: var(--mainButton);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--mainRadius);
  cursor: pointer;
  color: var(--mainText);
  font-size: 17px;
  font-weight: 700;
  line-height: 20.55px;
  letter-spacing: -0.5px;
}

@media (max-width: 768px) {
  .landing .content button {
    width: 190px;
    height: 53px;
  }
}

.statistics {
  padding-block: var(--mainPadding);
  border-bottom: var(--mainBorder);
}

.statistics .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 85px;
}

.statistics .box {
  display: flex;
  align-items: center;
  gap: 33px;
}

.statistics .box h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: -1.7999999523162842px;
  color: var(--mainColorText);
}

.statistics .box p {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainColorText);
  opacity: var(--mainOpacityText);
}

.Services {
  /* padding-top: var(--mainPadding);
  padding-bottom: var(--mainPadding); */
  padding-block: var(--mainPadding);
}

.Services .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 90px;
  text-align: center;
}

.Services .text h2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1.2000000476837158px;
  margin-bottom: 20px;
  color: var(--mainColorText);
}

.Services .text p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainColorText);
  opacity: var(--mainOpacityText);
}

.Services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.Services .box {
  border: var(--mainBorder);
  border-radius: var(--mainRadius);
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--mainTransition);
}

.Services .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.Services img {
  width: 100%;
  max-width: 100%;
}

.Services .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: var(--mainColorText);
}

.Services .info a {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainColorText);
}

.Services .box:hover i {
  animation: arrow 0.6s linear infinite;
}

.Skills {
  padding-top: calc(var(--mainPadding) + 20px);
  background-color: #f4f7fa;
}

.Skills .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
  text-align: center;
}

.Skills .text h2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1.2000000476837158px;
  color: var(--mainColorText);
  margin-bottom: 20px;
}

.Skills .text p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainColorText);
  opacity: var(--mainOpacityText);
}

.Skills .content {
  display: flex;
  gap: 105px;
  margin-bottom: 135px;
}

@media (max-width: 991px) {
  .Skills .content {
    flex-direction: column;
  }
}

.Skills .image {
  flex: 1;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.Skills .image::before {
  content: "";
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 100%;
  background-color: var(--mainText);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Skills .image::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid #68d585;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.Skills .image img {
  width: 100%;
  max-width: 100%;
}

/* .Skills .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: #00000018;
  overflow: hidden;
} */

.Skills .content .skill {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 991px) {
  .Skills .content .skill {
    align-items: center;
    gap: 30px;
  }
}

.Skills .content .skill .box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Skills .skill .box .circle {
  position: absolute;
  top: 0;
  left: -55px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #e2e4f9;
}

.Skills .skill .box .circle::after {
  content: attr(data-number);
  position: absolute;
  font-size: 17px;
  color: #473bf0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .Skills .skill .box .circle {
    display: none;
  }
}

.Skills .content .skill .box h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--mainColorText);
}

.Skills .content .skill .box p {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainColorText);
  opacity: var(--mainOpacityText);
}

.Skills .info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #473bf0;
  color: var(--mainText);
  gap: 10px;
}

.Skills .info span:first-child {
  padding: 4px 10px;
  background-color: var(--mainText);
  color: #473bf0;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.72px;
  letter-spacing: 0.625px;
}

.Skills .info span:nth-child(2) {
  font-size: 17px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
}

.Skills .info a {
  font-size: 17px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainText);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .Skills .info {
    gap: 5px;
  }
  .Skills .info span:nth-child(2) {
    font-size: 12px;
  }
  .Skills .info a {
    font-size: 12px;
  }
}

.information {
  padding-block: calc(var(--mainPadding) + 20px);
}

.information .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 50px;
}

@media (max-width: 768px) {
  .information .container {
    gap: 35px;
  }
}

.information .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: var(--mainTransition);
}

@media (max-width: 768px) {
  .information .box {
    /* box-shadow: 5px 6px 8px 1px #eee; */
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    padding: 20px;
  }
  .information .box:hover {
    transform: translateY(-8px);
  }
}

.information .box > img {
  margin-bottom: 50px;
}

.information .box p {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 50px;
}

.information .box .more {
  display: flex;
  align-items: center;
  gap: 20px;
}

.information .box .more .text {
  display: flex;
  flex-direction: column;
}

.information .box .more .text span:first-child {
  font-size: 17px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: var(--mainColorText);
}

.information .box .more .text span:last-child {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: var(--mainColorText);
  opacity: var(--mainOpacityText);
}

.form-section {
  position: relative;
  padding-block: calc(var(--mainPadding) + 40px);
  background-image: url(../image/3d.png);
  background-size: cover;
}

.form-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../image/3d\ layer.png);
  background-size: cover;
  z-index: -1;
}

.form-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .form-section .container {
    flex-direction: column;
    gap: 40px;
  }
}

.form-section .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-basis: 50%;
}

.form-section .content .circle {
  content: "";
  position: relative;
  width: 87px;
  height: 87px;
  border-radius: 100%;
  background-color: #47474e;
  margin-bottom: 45px;
}

.form-section .content .circle i {
  position: relative;
  color: #68d585;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  font-size: 35px;
}

.form-section .content h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.2000000476837158px;
  text-align: left;
  color: var(--mainText);
  margin-bottom: 20px;
}

.form-section .content p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: var(--mainText);
  opacity: var(--mainOpacityText);
}

.form-section .content-form {
  background-color: var(--mainText);
  padding: 25px;
  border-radius: var(--mainRadius);
}

.form-section .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-section .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-section .form-group label {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: var(--mainColorText);
}

.form-section .form-group .input {
  width: 300px;
  height: 50px;
  border-radius: var(--mainRadius);
  outline: none;
  border: var(--mainBorder);
}

.form-section .form-group .input,
.form-section .form-group select {
  padding-left: 18px;
}

.form-section .form-group input:focus {
  outline: 1px solid var(--mainButton);
  caret-color: var(--mainButton);
}

.form-section .form-container button {
  width: 300px;
  height: 59px;
  background-color: var(--mainButton);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--mainRadius);
  cursor: pointer;
  color: var(--mainText);
  font-size: 17px;
  font-weight: 700;
  line-height: 20.55px;
  letter-spacing: -0.5px;
}

.Subscribe {
  padding-block: var(--mainPadding);
  border-bottom: var(--mainBorder);
}

.Subscribe .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

@media (max-width: 991px) {
  .Subscribe .container {
    flex-direction: column;
    gap: 20px;
  }
}

.Subscribe .container h2 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1.2000000476837158px;
  text-align: left;
  color: var(--mainColorText);
}

.Subscribe .container form {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .Subscribe .container form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Subscribe .container form [type="email"] {
  width: 290px;
  height: 59px;
  border-radius: var(--mainRadius);
  border: var(--mainBorder);
  outline: none;
  color: var(--mainButton);
}

.Subscribe .container input[type="email"]:focus {
  outline: 1px solid var(--mainButton);
  caret-color: var(--mainButton);
}

.Subscribe .container input[type="email"] {
  padding-left: 18px;
}

.Subscribe .container form button {
  width: 170px;
  height: 59px;
  background-color: var(--mainButton);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--mainRadius);
  cursor: pointer;
  color: var(--mainText);
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
}

footer {
  padding-top: calc(var(--mainPadding) + 40px);
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

footer .container .info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  gap: 45px;
}

footer .info .box {
  width: 144px;
}

footer .info .box ul li {
  text-align: left;
}

footer .info .box ul li:first-child {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 25px;
  color: var(--mainColorText);
  opacity: var(--mainOpacityText);
}

footer .info .box ul li:not(:first-child) {
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainColorText);
  cursor: pointer;
}

footer .info .contact-us ul li:not(:first-child) {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.20000000298023224px;
  color: var(--mainButton);
}

footer .copyRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 35px;
  /* margin-top: 100px; */
  border-top: var(--mainBorder);
}

@media (max-width: 768px) {
  footer .copyRight {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

footer .copyRight .text span {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  color: var(--mainColorText);
}

footer .copyRight .text i {
  color: #68d585;
  font-size: 14px;
  padding-left: 5px;
}

footer .copyRight .icon {
  display: flex;
  gap: 30px;
  font-size: 19px;
  color: var(--mainColorText);
}

footer .copyRight .icon i {
  opacity: 40%;
  transition: var(--mainTransition);
  cursor: pointer;
}

footer .copyRight .icon i:hover {
  transform: translateY(-6px);
}

footer .copyRight .icon i:nth-child(2) {
  color: var(--mainButton);
  opacity: unset;
}

@keyframes arrow {
  100% {
    transform: translateX(8px);
  }
}
